<h2>さくらんぼのショートケーキ<img src="http://www.best-sumai.com/brand/img/f-star-4.gif" width="200px"></h2>

<div class="container">
  <div class="sweets-imgs">
    <img class="big-img" src="http://casamingo.gift/photo/syusu042.jpg">
    <img class="small-img" src="http://casamingo.gift/photo/syusu042.jpg">
    <img class="small-img" src="http://casamingo.gift/photo/syusu042.jpg">
    <img class="small-img" src="http://casamingo.gift/photo/syusu042.jpg">
  </div>

  <h3>このお菓子のこだわりポイント</h3>
  <div class="sweets-detail">このケーキにはフランスセモリナ地方のデュラム小麦を挽いた小麦粉と、北海道十勝の大地で育った乳牛の生乳から作った生クリームをふんだんに使用しております。デュラム小麦というのは、フランスパンに使用される品種の小麦ですので、このケーキはとても噛みごたえがあるものに仕上がっております。かってえ。</div>

  <div class="cook-profile">
    <h3>これを作った人</h3>
    <img src="http://stat.ameba.jp/user_images/37/5d/10035026882_s.jpg">
    <div class="description">
      <h4>久見木 美紀</h4>
      高校卒業後パリで修行の日々を送る。その後なぜか日本に帰ってきて帰国子女として悠々自適な日々を送る。そんなこんなで現在に至る。
    </div>
  </div>
</div>

<h2>この人が作ったお菓子 <span>History</span></h2>


<section class="card">
  <img class="card-img" src="http://casamingo.gift/photo/syusu042.jpg" alt="No Image">
  <div class="card-content">
    <h1 class="card-title">さくらんぼのショートケーキ</h1>
    <p class="card-text">素材にこだわりぬいた本当にこだわりのケーキです。</p>
  </div>
  <div class="card-link">
    <a href="http://webcreatorbox.com/about">詳細</a>
    <a href="http://webcreatorbox.com/">制作者情報</a>
  </div>
</section>
<section class="card">
  <img class="card-img" src="http://casamingo.gift/photo/syusu042.jpg" alt="No Image">
  <div class="card-content">
    <h1 class="card-title">さくらんぼのショートケーキ</h1>
    <p class="card-text">素材にこだわりぬいた本当にこだわりのケーキです。</p>
  </div>
  <div class="card-link">
    <a href="http://webcreatorbox.com/about">詳細</a>
    <a href="http://webcreatorbox.com/">制作者情報</a>
  </div>
</section>
<section class="card">
  <img class="card-img" src="http://casamingo.gift/photo/syusu042.jpg" alt="No Image">
  <div class="card-content">
    <h1 class="card-title">さくらんぼのショートケーキ</h1>
    <p class="card-text">素材にこだわりぬいた本当にこだわりのケーキです。</p>
  </div>
  <div class="card-link">
    <a href="http://webcreatorbox.com/about">詳細</a>
    <a href="http://webcreatorbox.com/">制作者情報</a>
  </div>
</section>
