<h2>さくらんぼのショートケーキ<span>Cherry Sponge Cake</span><img src="http://www.best-sumai.com/brand/img/f-star-4.gif" alt="star" width="200px" ></h2>

<div class="sweets-imgs">
  <img class="big-img" src="http://casamingo.gift/photo/syusu042.jpg" alt="No Image">
  <img class="small-img" src="http://casamingo.gift/photo/syusu042.jpg" alt="No Image">
  <img class="small-img" src="http://casamingo.gift/photo/syusu042.jpg" alt="No Image">
  <img class="small-img" src="http://casamingo.gift/photo/syusu042.jpg" alt="No Image">
</div>
<div class="sweets-detail">
  このお菓子にはフランス産デュラム小麦から作られた小麦粉と、北海道の十勝で絞った生乳を使用した最高級生クリームを贅沢に使用しました。デュラム小麦というのはフランスパンに使われる小麦粉なので、このケーキはとても噛みごたえがあります。かってぇ。
</div>