
<div class="container">

  <h2>☆ ユーザー情報</h2>
  <div class='user_image'>
    <%= image_tag 'megumi.jpg' %>
  </div>

  <h3>めぐみさん</h3>
  <div class="explain">
    <p>　私は、７歳のころから、パティシエを目指してきました。腕には自身があります♡ ぜひ、食べてみてください。</p>
  </div>

  <h2>☆ 作品一覧</h2>
  <div class="shouhins">
    <div class="item">item 1</div>
    <div class="item">item 2</div>
    <div class="item">item 3</div>
    <div class="item">item 4</div>
    <div class="item">item 5</div>
    <div class="item">item 6</div>
    <div class="item">item 7</div>
    <div class="item">item 8</div>
    <div class="item">item 9</div>
  </div>
</div>


